<nz-layout>
  <nz-header class="wy-header">
    <!-- 左边的logo -->
    <div class="wy-icon">
      <h1 class="logo"></h1>
    </div>
    <!-- 中间的箭头和搜索按钮 -->
    <div class="wy-search">
      <div class="arrow">
        <span>
          前一页
          <i nz-icon nzType="left" nzTheme="outline"></i>
        </span>
        <span>
          <i nz-icon nzType="right" nzTheme="outline"></i>
          后一页
        </span>
      </div>
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            nz-input
            nzSize="default"
            [(ngModel)]="keywords"
            id="search"
            name="search"
            placeholder="搜索音乐，视频，电台，歌词"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search" style="color: aliceblue;"></i>
        </ng-template>
      </div>
    </div>
    <!-- 右边的信息设置 -->
    <div class="wy-info">
      <!-- 个人头像 -->
      <div class="wy-info-personal">
        <div class="avtor">
          <div class="personal-img">
            <img src="../assets/20141009224754_AswrQ.jpeg" alt="" />
          </div>
        </div>
        <div class="nick">
          李啾啾111
          <i
            nz-icon
            class="nick-arrow"
            nzType="caret-down"
            nzTheme="outline"
          ></i>
        </div>

        <div class="wy-vip">开通VIP</div>
        <div class="wy-com">
          <i
            nz-icon
            nzTooltipTitle="这里换肤哦(*^_^*)"
            nzTooltipPlacement="bottom"
            nz-tooltip
            [nzType]="'smile'"
            [nzTheme]="'outline'"
          ></i>
        </div>
        <div class="wy-com">
          <div class="wy-message">
            <i nz-icon class="message" nzType="message" nzTheme="outline"></i>
          </div>
        </div>
        <div class="wy-com">
          <i nz-icon [nzType]="'setting'"></i>
        </div>
      </div>
      <div class="wy-info-personal">
        <!-- <div>
          <i nz-icon nzType="share-alt" nzTheme="outline"></i>
        </div> -->
        <div><i nz-icon nzType="minus" nzTheme="outline"></i></div>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider>Sider</nz-sider>
    <nz-content>Content</nz-content>
  </nz-layout>
  <nz-footer>Footer</nz-footer>
</nz-layout>
